
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
}

.card {
    width:30rem;
    height: 20rem;
    display: grid;
    grid-template-rows: 60% 25%;
}
    

.big-picture img{
    width:100%;
    height: 12rem;
    object-fit:cover;
}

.smal-picture img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top {
width: 100%;
height: 100%;
}
.bottom {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:60px auto;  
}

.bold {
    font-weight: bold;
}

