
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    padding:1rem;
    gap:1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.card {
    height: 20rem;
    display: grid;
    grid-template-rows: 60% 25%;
}
    

.big-picture img{
    width:100%;
    height: 12rem;
    object-fit:cover;
}

.smal-picture img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.top {
height: 100%;
}
.bottom {
    
    height: 100%;
    display: grid;
    grid-template-columns:60px auto;  
}

.bold {
    font-weight: bold;
}

